body {
  margin: 0px;
  padding: 0px;
  padding-top: 60px;
  font-family: josefin-sans,sans-serif;
  font-weight: 400;
  font-style: normal;}

/* .navbar */
.navbar {
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: lightsteelblue;
}

/* .navlist */
.navlist {
  list-style: none;
  display: flex;
  justify-content: stretch;
}
.navlist li {
  padding: 5px;
  font-size: 100%;
}

/* .student-work-item */
@media all and (max-width: 799px) {
  .student-work-item {
    display: block;
    width : 100%;
  }
}
@media all and (min-width: 800px) {
  .student-work-item {
    display: block;
    height : 300px;
    width : 100%;
  }
}