/* .navbar */
.navbar {
  background: green;
  display: flex;
  justify-content: space-between;
}

/* .navlist */
.navlist {
  list-style: none;
  display: flex;
  justify-content: stretch;
}
.navlist li {
  padding: 5px;
}

/* .student-work-item */
@media all and (max-width: 799px) {
  .student-work-item {
    width : 100%;
  }
}
@media all and (min-width: 800px) {
  .student-work-item {
    height : 300px;
    width : 100%;
  }
}